#config_tablavaloresleft,
#tablavaloresleft {
	/* background-color: #1c6d0c; */
	background: url("../img/table_left.png") no-repeat;
	padding-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 2px;
	grid-column-gap: 25px;
	grid-column: 1;
	grid-row: 2;

	padding-right: 35px;
}

#config_tablavaloresright,
#tablavaloresright {
	/* background-color: #1c6d0c; */
	background: url("../img/table_right.png") no-repeat;
	padding-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 4px;
	grid-column-gap: 25px;
	grid-column: 1;
	grid-row: 2;

	padding-left: 35px;
}

.table-value-class {
	background-color: #e8d7f6;
	border-radius: 2px;
	border: 3px solid #4c3058;
	width: 130px;
	height: 40px;
	transition: 0.5s;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.left-side {
	position: relative;
	left: 10%;
}

.right-side {
	position: relative;
	right: 10%;
}

.table-value-class-found {
	background-color: #ffac9f;
	color: #4c3058;
}

.table-value-class-won {
	background-color: #a0d4ff;
	color: #4c3058;
}

.table-value-class span {
	font-family: numberfont;
	font-size: 20px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	position: relative;
	top: 60%;
	left: 60%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	grid-column: 2;
}

.table-value-class #dolar {
	padding-left: 14px;
	padding-bottom: 10px;
	background: url("../img/dolar.png") no-repeat;
	width: 20px;
	height: 40px;
	position: relative;
	top: 62%;
	left: 35%;

	grid-column: 1;
}

#tablavalores,
#tablavaloresleft:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

#tablavaloresleft:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}

#tablavaloresleft:nth-child(3) {
	grid-column: 1;
	grid-row: 3;
}

#tablavaloresleft:nth-child(4) {
	grid-column: 1;
	grid-row: 4;
}

#tablavaloresleft:nth-child(5) {
	grid-column: 1;
	grid-row: 5;
}

#tablavaloresleft:nth-child(6) {
	grid-column: 1;
	grid-row: 6;
}

#tablavaloresleft:nth-child(7) {
	grid-column: 1;
	grid-row: 7;
}

#tablavaloresleft:nth-child(8) {
	grid-column: 2;
	grid-row: 1;
}

#tablavaloresleft:nth-child(9) {
	grid-column: 2;
	grid-row: 2;
}

#tablavaloresleft:nth-child(10) {
	grid-column: 2;
	grid-row: 3;
}

#tablavaloresleft:nth-child(11) {
	grid-column: 2;
	grid-row: 4;
}

#tablavaloresleft:nth-child(12) {
	grid-column: 2;
	grid-row: 5;
}

#tablavaloresleft:nth-child(13) {
	grid-column: 2;
	grid-row: 6;
}

#tablavaloresleft:nth-child(14) {
	grid-column: 2;
	grid-row: 7;
}

#tablavaloresright:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

#tablavaloresright:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}

#tablavaloresright:nth-child(3) {
	grid-column: 1;
	grid-row: 3;
}

#tablavaloresright:nth-child(4) {
	grid-column: 1;
	grid-row: 4;
}

#tablavaloresright:nth-child(5) {
	grid-column: 1;
	grid-row: 5;
}

#tablavaloresright:nth-child(6) {
	grid-column: 1;
	grid-row: 6;
}

#tablavaloresright:nth-child(7) {
	grid-column: 2;
	grid-row: 1;
}

#tablavaloresright:nth-child(8) {
	grid-column: 2;
	grid-row: 2;
}

#tablavaloresright:nth-child(9) {
	grid-column: 2;
	grid-row: 3;
}

#tablavaloresright:nth-child(10) {
	grid-column: 2;
	grid-row: 4;
}

#tablavaloresright:nth-child(11) {
	grid-column: 2;
	grid-row: 5;
}

#tablavaloresright:nth-child(12) {
	grid-column: 2;
	grid-row: 6;
}
